$background: #10101a;
$foreground: #ffffff;
$primary: #2fd49c;
$dim: #fffffa;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  max-width: 960px;
  margin: 0 auto;
  padding: 2rem;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-color: $background;
  color: $foreground;
}

.font-normal {
  font-weight: 400;
}

.font-heading {
  font-family: "Bebas Neue", sans-serif;

  @extend .font-normal;
}

.font-mono {
  font-family: "DM Mono", monospace;

  @extend .font-normal;
}

.gradient-primary {
  background: linear-gradient(to right, #43e97b, #38f9d7);
}

.text-gradient {
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

h1,
h2,
h3 {
  line-height: 1;
}

.error-code {
  font-size: 4.65rem;

  @extend .font-heading;
  @extend .text-gradient;
  @extend .gradient-primary;
}

.error-title {
  font-size: 2rem;

  @extend .font-mono;
}

.error-description {
  margin-top: 1.8rem;
  font-size: 1.2rem;
  max-width: 510px;
  line-height: 1.7;
  color: $dim;
}

.home-btn {
  text-decoration: none;
  display: inline-flex;
  margin: 0.75rem 0 1.75rem 0;
  padding: 0.75rem 1.25rem;
  color: $background;
  border-radius: 0.3rem;
  font-weight: 500;

  svg {
    width: 1.3rem;
  }

  span {
    margin-left: 0.65rem;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
  }

  @extend .gradient-primary;
}

footer {
  font-size: 1.1rem;

  a {
    color: inherit;
    text-decoration: none;
    transition: 0.3s color ease-out;

    &:hover {
      color: $primary;
    }
  }
}
